@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* font-family: 'Poppins', sans-serif; */
}

a {
  text-decoration: none;
}

/* ---- header ---- */

/* --- navbar --  */

.navbar {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: white;
}

.logo {
  padding: 1rem;
}

.logo img {
  width: 4.5rem;
}

.nav-list {
  margin: auto 1px;
}

.nav-list ul li {
  display: inline-flex;
  padding-left: 5px;
}

.nav-list ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: black;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2px;
}

.nav-list ul li a:hover {
  border-color: black;
}

#menu-bar {
  display: none;
}

.menu {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 25px;
  cursor: pointer;
  display: none;
}

/* ------- media query for navigation ----------  */

@media (max-width: 991px) {
  .menu {
    display: initial;
  }

  .navbar {
    position: relative;
  }

  .nav-list {
    position: absolute;
    top: 100%;
    left: 60%;
    right: 0%;
    justify-content: center;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    padding: auto;
  }

  .nav-list ul li {
    width: 100%;
  }

  #menu-bar:checked ~ .nav-list {
    display: initial;
  }
}

/* ---- title ----- */

.main-title {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../planning/assets/background.jpg");
  background-position: center;
  background-size: cover;
  height: auto;
}

.title {
  text-align: center;
  padding: 30px;
}

.title-name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.slogan {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: rgb(255, 193, 7);
  margin-bottom: 20px;
}

.btn {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  padding: 8px;
  margin: 20px 5px;
  color: white;
  transition: 0.5s;
}

.btn-apply:hover {
  background-color: white;
  color: black;
}

.btn-donate {
  border: 1px solid rgb(255, 193, 7);
}

.btn-donate:hover {
  background-color: rgb(255, 193, 7);
}

/* ---- header css end ----  */

/* ---- contact and form by Haneefa --- */

/* ---- wrapper container ---- */
.container-contact {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  padding-top: 30px;
}

.contact-row {
  max-width: 100%;
}

.contact-column {
  padding: 16px;
  float: left;
  width: 48%;
}

.contact-col-gap {
  column-gap: 2rem;
  padding-top: 20px;
}

/* ----  feedback input in form ---- */
form {
  max-width: 420px;
}

.feedback-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid white;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

/* ---- contact form ---- */

.form {
  background-color: rgb(74, 80, 187);
  margin-right: 25px;
  margin-bottom: 10px;
}

.form-paragraph {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: white;
}

/* ---- text styling - contact form ---- */

.text-style {
  color: white;
  font-family: sans-serif;
  padding: 10px;
}

.message-size {
  width: 100%;
  height: 150px;
}

/* ---- text styling - map ---- */
.text-map {
  color: black;
  padding-bottom: 10px;
}

/* ---- style element in map ---- */

iframe {
  border: 0;
  width: 100%;
}

/* --- contact form and map responsive --- */

@media all and (max-width: 650px) {
  iframe {
    width: 100%;
    padding-left: 0;
    height: 400px;
  }

  .contact-column {
    width: 100%;
  }
}

/* ---- contact and form by Haneefa end ---- */

/* ----- our core values ---- */

.our-core-values {
  background-color: rgb(247, 142, 6);
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.container {
  max-width: 873px;
  margin: 0 auto;
  padding: 0 70px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100%;
  align-content: space-between;
  justify-items: stretch;
}

.grid-2 {
  grid-template-columns: repeat(3, 1fr);
}

.values.grid > *:first-child {
  grid-column: 1 / span 3;
}

.btn-2 {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: rgb(113, 172, 152);
  border: none;
  border-radius: 5px;
}

.card {
  background: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(19, 31, 46, 0.925);
  padding: 20px;
  margin: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: hidden;
}

.values.grid .card > i {
  margin-right: 20px;
}

.icon-size {
  font-size: 4em;
}

/* ----- Responsive for our core values ---- */

@media (max-width: 500px) {
  .our-core-values h3 {
    max-width: 500px;
    font-size: 18px;
  }

  .our-core-values p {
    width: 150px;
    font-size: 10px;
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    height: 65%;
    align-content: space-between;
    justify-items: stretch;
  }

  .grid-2 {
    grid-template-columns: repeat(3, 1fr);
  }

  .values.grid > *:first-child {
    grid-column: 1 / span 3;
  }

  .btn-2 {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    background: rgb(113, 172, 152);
    border: none;
    border-radius: 5px;
  }

  .card {
    background: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(19, 31, 46, 0.925);
    padding: 8px;
    margin: 1px;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    overflow-y: hidden;
  }

  .values.grid .card > i {
    margin-right: 80px;
  }

  .icon-size {
    font-size: 1.5em;
  }
}

/* footer by kiishi */

.footer {
  padding: 20px;
  text-align: center;
  background-color: rgb(33, 37, 41);
}

.head-footer {
  color: rgb(255, 193, 7);
  font-size: x-large;
}

.footer-address {
  color: white;
  padding-top: 20px;
  font-family: "Space Mono", monospace;
}

.social-media {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex: 0 1 100%;
  margin: 20px;
  justify-content: center;
}

.icon {
  width: 30px;
  text-align: center;
}

/* footer end by kiishi */

/* partner by kiishi */

.partners {
  text-align: center;
  padding: 20px;
}

.partnerimg {
  max-width: 100%;
  padding-top: 20px;
}

.partnerbutton {
  font-size: medium;
}

/* partner end by kiishi */
