@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* font-family: 'Poppins', sans-serif; */
}

body {
  background-color: #ecf0f3;
}

a {
  text-decoration: none;
  color: rgb(255, 193, 7);
}

/* ---- header ---- */

/* --- navbar --  */

.navbar {
  max-width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #ecf0f3;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}

.logo {
  padding: 0.5rem;
}

.logo img {
  width: 5rem;
}

.nav-list {
  margin: auto 1px;
}

.nav-list ul li {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 12px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
  position: relative;
  transition: all 0.3s ease;
}

.nav-list ul li a {
  color: #31344b;
}

.nav-list ul li a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
}

.nav-list ul li a:hover {
  color: green;
}

#menu-bar {
  display: none;
}

.menu {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  display: none;
}

/* ------- media query for navigation ----------  */

@media (max-width: 1063px) {
  .menu {
    display: initial;
    background: none;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
  }

  .menu:hover {
    box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
    color: green;
  }

  .navbar {
    position: relative;
  }

  .nav-list {
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
    justify-content: center;
    background: #ecf0f3;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    padding: auto;
  }

  .nav-list ul li {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    box-shadow: none;
  }

  #menu-bar:checked ~ .nav-list {
    display: initial;
  }
}

/* ---- title ----- */

.title {
  max-width: 90%;
  margin: auto;
  text-align: center;
  padding: 6rem;
  box-shadow: -5px -5px 9px #fff, 5px 5px 10px #ceced1;
}

.title-name {
  padding: 0%;
  font-family: "Poppins", sans-serif;
  color: rgba(6, 65, 174, 0.661);
  font-weight: 500;
  font-size: 4rem;
  text-transform: uppercase;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}

.slogan {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  color: #31344b;
  font-weight: 300;
  margin: 10px auto 40px auto;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1, inset -3px -3px 7px #fff,
    inset 3px 3px 5px #ceced1;
}

.btn {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 8px;
  margin-left: 5px;
  color: #31344b;
  transition: 0.5s;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1, inset -3px -3px 7px #fff,
    inset 3px 3px 5px #ceced1;
}

.btn-apply {
  border: 1px solid cornflowerblue;
}

.btn-apply:hover {
  background-color: cornflowerblue;
}

.btn-donate {
  border: 1px solid rgb(255, 193, 7);
}

.btn-donate:hover {
  background-color: rgb(255, 193, 7);
}

/* ---- header css end ----  */

/* ---- contact and form by Haneefa --- */

.form-map {
  width: 90%;
  display: flex;
  margin: auto;
  border-radius: 5px;
}

.form-info {
  background-color: #33a9beb0;
  color: #fff;
  margin-top: 30px;
  padding: 15px;
  width: 500px;
  height: auto;
  border-radius: 8px;
}

.form-info h2 {
  color: rgba(6, 65, 174, 0.661);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.form-info p {
  padding-bottom: 10px;
}

label {
  font-size: 1.2rem;
}

input {
  width: 400px;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
}

textarea {
  width: 400px;
  margin-top: 10px;
  padding: 7px;
}

.btn-submit {
  background-color: rgb(221, 237, 249);
  color: black;
  cursor: pointer;
  border: 1px solid rgb(93, 160, 235);
  width: 80px;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: rgb(93, 160, 235);
}

.map {
  margin-left: 2rem;
}

.map h2 {
  text-transform: capitalize;
  color: rgba(6, 65, 174, 0.661);
  font-size: 2rem;
  padding-bottom: 10px;
}

.map p {
  font-size: 1.2rem;
  padding-top: 20px;
}

/* ------- media query for form and map ----- */

@media (max-width: 980px) {
  .form-map {
    display: block;
    width: 500px;
    margin-left: 20px;
  }

  .map iframe {
    width: 400px;
  }
}

@media (max-width: 778px) {
  .form-map {
    display: block;
    border-radius: 5px;
  }

  .form-info {
    margin-top: 30px;
    padding: 15px;
    width: 450px;
    height: auto;
  }

  .map iframe {
    width: 350px;
  }

  .card {
    margin: 1px;
  }
}

/* ---- contact and form by Haneefa end ---- */

/* ----- our core values ---- */

.our-core-values {
  width: 90%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  height: auto;
}

.title-values {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.title-values h2 {
  color: rgba(6, 65, 174, 0.661);
  font-size: 2rem;
}

.card {
  color: #333;
  height: 100%;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
  padding: 15px;
}

.card h3 {
  padding-bottom: 10px;
  color: rgb(255, 193, 7);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  height: 100%;
  align-content: space-between;
  justify-items: stretch;
}

.icon-size {
  font-size: 4em;
}

/* ----- Responsive for our core values ---- */

/* partner by kiishi */

.partners {
  text-align: center;
  margin: 3rem;
}

.title-partners {
  color: rgba(6, 65, 174, 0.661);
  text-align: center;
  font-size: 2.5rem;
}

.partnerimg {
  box-shadow: -3px -3px 7px #fff, -3px -3px 5px #ceced1;
  max-width: 100%;
  margin: 3rem 1px;
}

.btn-partner {
  border: 1px solid rgba(3, 115, 132, 0.54);
}

.btn-partner:hover {
  background-color: rgba(3, 115, 132, 0.54);
}

/* partner end by kiishi */

/* footer by kiishi */

.footer {
  margin-top: 2rem;
  box-shadow: 3px 3px 7px #fff, -3px -3px 5px #ceced1;
}

.head-footer {
  padding-top: 2rem;
  justify-content: center;
  text-align: center;
}

.title-footer {
  color: rgba(6, 65, 174, 0.661);
}

.footer-address {
  margin-top: 10px;
  color: black;
  font-family: "Space Mono", monospace;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a img {
  padding-top: 5px;
  margin: 10px;
}

.icon {
  width: 30px;
}

/* footer end by kiishi */


/* partner by kiishi */

.partners {
  text-align: center;
  padding: 20px;
}

.partnerimg {
  max-width: 100%;
  padding-top: 20px;
}

.partnerbutton {
  font-size: medium;
}

/* partner end by kiishi */

/* Info */

.info-section {
  background-color: rgb(2, 2, 2);
  color: white;
}

.container-info {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 15px;
  font-size:24px
}

.container-info > div {
  flex: 1;
}

.info-text {
  width: 50%;
}

.image-info {
  margin-left: auto;
}

b {
  color: rgb(255, 193, 7);
}

.info-h1 {
  padding: 30px 20px 20px 50px;
}

.info-h3 {
  padding: 10px;
}
/* our impact */

.impact-section {
  color: rgb(253, 253, 253);
  background-color: rgba(14, 13, 13, 0.973);
}

.impact-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.impact-h2 {
  color: rgb(255, 193, 7);
  padding-bottom: 30px;
}

.impact-para {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  font-size:20px;
}

.impact-card-h3 {
  padding-bottom: 10px;
}

.card {
  background-color: rgb(255, 193, 7);
}

@media (max-width:500px) {

.impact-container{
  flex-direction:column
}
.container-info{
  flex-direction:column;
}
}
/* Responsiveness info and impact*/

