@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

/* ------------ universal css ------ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ------- general css ------  */

body {
  background-color: #ecf0f3;
}

a {
  text-decoration: none;
  color: rgb(255, 193, 7);
}

h2 {
  color: rgba(6, 65, 174, 0.661);
  font-size: 2rem;
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  padding-bottom: 10px;
  color: rgb(255, 193, 7);
}

.box-shadow {
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}

.box-inset {
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1, inset -3px -3px 7px #fff,
    inset 3px 3px 5px #ceced1;
}

.btn {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 6px;
  margin-left: 5px;
  color: #31344b;
  transition: 0.5s;
}

/* ------------ header ----------- */

/* ------------ navbar ---------- --  */

.navbar {
  max-width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #ecf0f3;
}

.logo {
  padding: 0.5rem;
}

.logo img {
  width: 5rem;
}

.nav-list {
  margin: auto 1px;
}

.nav-list ul li {
  display: inline-flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 12px;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}

.nav-list ul li a {
  color: #31344b;
}

.nav-list ul li a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
}

.nav-list ul li a:hover {
  color: green;
}

#menu-bar {
  display: none;
}

.menu {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  display: none;
}

/* ---- title ----- */

.title {
  max-width: 90%;
  margin: auto;
  text-align: center;
  padding: 6rem;
}

.title-name {
  padding: 0%;
  color: rgba(6, 65, 174, 0.661);
  font-weight: 500;
  font-size: 4rem;
  text-transform: uppercase;
}

.slogan {
  font-size: 2.3rem;
  color: rgb(255, 193, 7);
  font-weight: 300;
  margin: 10px auto 40px auto;
}

.btn-apply {
  border: 1px solid cornflowerblue;
}

.btn-apply:hover {
  background-color: cornflowerblue;
}

.btn-donate {
  border: 1px solid rgb(255, 193, 7);
}

.btn-donate:hover {
  background-color: rgb(255, 193, 7);
}

/* ---- header css end ----  */

/* Info */

.info-section {
  max-width: 90%;
  margin: auto;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}

.info-text {
  padding: 0.1rem 2rem;
  width: 100%;
}

.info-text p {
  margin-bottom: 30px;
}

b {
  color: rgb(255, 193, 7);
}

.image-info {
  width: 100%;
}

.image-info img {
  width: 100%;
}

/* our impact */

.impact {
  max-width: 90%;
  margin: auto;
  margin-top: 10px;
  height: auto;
}

.impact-para {
  justify-content: center;
  align-items: center;
}

.impact-para p {
  text-align: center;
  padding-bottom: 20px;
}

.impact-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  height: 100%;
  align-content: space-between;
  justify-items: stretch;
  padding: 10px;
}

.card-impact {
  padding: 10px;
}

/* ----- our core values ---- */

.our-core-values {
  width: 90%;
  margin: auto;
  height: auto;
}

.title-values {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.card {
  color: #333;
  height: 100%;
  border-radius: 10px;
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  height: 100%;
  align-content: space-between;
  justify-items: stretch;
  padding: 20px;
}

.icon-size {
  font-size: 4rem;
}

/* ----- Responsive for our core values ---- */

/* ----- Our Sucess Stories ---- */

.outside-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
}

.success-stories {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(6, 65, 174, 0.661);
  text-align: left;
  max-width: none;
}

.box {
  width: 800px;
  min-height: 500px;
  position: relative;
  box-sizing: border-box;
}

.flex {
  position: relative;
  width: 800px;
  box-sizing: border-box;
  display: inline-block;
  transform: translateX(0%);
  transition: transform 0.3s ease 0s;
}

.slider-holder {
  width: 800px;
  height: 400px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.image-holder {
  width: 1800px;
  background-color: transparent;
  clear: both;
  height: 400px;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

.slider-image {
  float: left;
  margin: 0.1px;
  padding: 0.1px;
  position: relative;
}

#slider-image-1:target ~ .image-holder {
  left: -0.1px;
}

#slider-image-2:target ~ .image-holder {
  left: -800px;
}

#slider-image-3:target ~ .image-holder {
  left: -1600px;
}

#slider-image-4:target ~ .image-holder {
  left: -2000px;
}

.button-holder {
  position: relative;
  top: -20px;
}

.slider-change {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: brown;
}

/* ----- Responsive for our stories ---- */

/* partner by kiishi */

.partners {
  width: 90%;
  margin: 0 auto;
}

.title-partners {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 2rem;
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 1rem;
}

.partnerimg {
  width: 100%;
  padding-bottom: 1rem;
}

.btn-partner {
  border: 1px solid rgba(3, 115, 132, 0.54);
}

.btn-partner:hover {
  background-color: rgba(3, 115, 132, 0.54);
}

/* partner end by kiishi */

/* ---- contact and form by Haneefa --- */

.form-map {
  width: 90%;
  margin: auto;
}

.location {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  border-radius: 5px;
}

.form-info {
  background-color: #ecf0f3;
  padding: 20px;
  width: 550px;
  border-radius: 8px;
}

.form-info p {
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

label {
  padding: 3px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}

input,
textarea {
  width: 450px;
  padding: 8px;
  margin-top: 10px;
  border: none;
  background: none;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1, inset -3px -3px 7px #fff,
    inset 3px 3px 5px #ceced1;
}

.btn-submit {
  background-color: rgb(221, 237, 249);
  color: black;
  cursor: pointer;
  border: 1px solid rgb(93, 160, 235);
  width: 80px;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: rgb(93, 160, 235);
}

.map iframe {
  border: none;
  margin: 5px;
  width: 620px;
}

.map p {
  padding: 20px;
}

/* ---- contact and form by Haneefa end ---- */

/* footer by kiishi */

.footer {
  margin-top: 1rem;
}

.head-footer {
  padding-top: 2rem;
  justify-content: center;
  text-align: center;
}

.title-footer {
  color: rgba(6, 65, 174, 0.661);
}

.footer-address {
  margin-top: 10px;
  color: black;
  font-family: "Space Mono", monospace;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a img {
  padding-top: 5px;
  margin: 10px;
}

.icon {
  width: 30px;
}

/* footer end by kiishi */

/* partner by kiishi */

.partnerbutton {
  font-size: medium;
}

.partnerimage {
  width: 200px;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* -------- support us ---------  */

.support-info {
  width: 90%;
  margin: auto;
}

/* donation section  */

.donation {
  text-align: center;
  margin-top: 3rem;
}

.select-label {
  padding: 5px;
}

.amount {
  margin-top: 20px;
}

.amount ul li {
  display: inline-flex;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.amount li:hover {
  background-color: #4a50bb;
  color: #ecf0f3;
}

.donation-input {
  width: 20px;
  box-shadow: none;
  margin-bottom: 2rem;
}

.btn-donation {
  margin: 20px;
  border: 1px solid rgb(255, 193, 7);
}

.btn-donation:hover {
  background-color: rgb(255, 193, 7);
}

/* partner end by kiishi */

/* ------- media query ----------  */

/* --------- navigation ---------- */

@media (max-width: 1024px) {
  .menu {
    display: initial;
    background: none;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
  }

  .menu:hover {
    box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
    color: green;
  }

  .navbar {
    position: relative;
  }

  .nav-list {
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
    justify-content: center;
    background: #ecf0f3;
    display: none;
    padding: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .nav-list ul li {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    box-shadow: none;
  }

  #menu-bar:checked ~ .nav-list {
    display: initial;
  }

  .location {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-info {
    width: 400px;
  }

  .map {
    width: 400px;
    margin-left: 3rem;
  }

  .map iframe {
    width: 390px;
  }

  input,
  textarea {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .info {
    display: block;
  }

  .info-text {
    margin-bottom: 2rem;
  }

  .location {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-info {
    width: 650px;
  }

  input,
  textarea {
    width: 550px;
  }

  .card {
    margin: 1px;
  }

  .map {
    width: 650px;
    margin-top: 1rem;
    margin-left: 0.1rem;
  }

  .map iframe {
    width: 640px;
  }
}

@media (max-width: 425px) {
  .title {
    max-width: 90%;
    margin: auto;
    text-align: center;
    padding: 6rem;
  }

  .title-name {
    font-size: 2rem;
  }

  .slogan {
    font-size: 1rem;
  }

  .container-grid {
    display: block;
  }

  .form-info {
    width: 370px;
    margin-left: 0.7rem;
  }

  input,
  textarea {
    width: 300px;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 0.5rem;
  }

  a {
    font-size: 0.5rem;
  }

  label {
    font-size: 0.7rem;
  }

  input {
    font-size: 0.7rem;
  }

  .btn {
    font-size: 0.7rem;
    padding: 2px;
  }

  .card {
    margin: 1px;
  }

  .icon {
    width: 20px;
  }

  .location {
    margin-left: -1.5rem;
  }

  .map {
    width: 370px;
    margin-left: 0.9rem;
  }

  .map iframe {
    width: 355px;
  }

  .amount li {
    padding: 1px;
  }
}

@media (max-width: 375px) {
  .location {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-info {
    width: 330px;
  }

  .map {
    width: 325px;
    margin-left: 0.9rem;
  }

  .map iframe {
    width: 315px;
  }
}

/* ------- media query for form and map ----- */

/* Css for About Page */

.title-fsize {
  font-size: 2rem !important;
}

.box-margin {
  margin-top: 30px;
}

.impact1-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
  height: 100%;
  align-content: space-between;
  justify-items: stretch;
  padding: 20px;
  margin: 50px;
}

.figure-align {
  text-align: center;
  padding: 5px;
}

.content-value {
  width: 70%;
  column-gap: 80px;
  margin-left: 15%;
}

.content-column {
  align-items: center;
  padding: 30px 40px;
}

.figure {
  border: none;
  margin: 5px;
  width: 250%;
  height: 100%;
}

.history {
  width: 470px;
  margin: 0;
  text-align: left;
  line-height: 150%;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
  height: 100%;
  align-content: space-between;
  justify-items: stretch;
  padding: 20px;
  margin: 50px;
}

.image-crop {
  border-radius: 50%;
}

.team {
  color: rgb(255, 193, 7);
  font-weight: bold;
}

/* Css for About Page end */

/* FAQ page title  by kiishi */

.faq-title {
  padding: 30px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.faq-title-content {
  font-family: "Space Mono", monospace;
  text-align: center;
}
